/.ntvs_analysis.dat
/NodejsConsoleApp1.v12.suo
/bin/Microsoft.NodejsTools.WebRole.dll
/obj/Debug/NodejsConsoleApp1.njsproj.FileListAbsolute.txt
/obj/Release/NodejsConsoleApp1.njsproj.FileListAbsolute.txt
/node_modules
/npm-debug.log
/obj/Debug/NodejsConsoleApp1.njsprojResolveAssemblyReference.cache
