/services/*.map
/services/*.js
/spec/*.js
/node_modules
/services/strings.js
/services/vkApi.js
/*.map
/app.js
/services/appProxy.js
/services/downloadManager.js
/spec/*.map
/spec/appInitTests.js
/spec/appProxyTests.js

/components/appController.js
/components/appController.js.map
/components/appView.js
/components/appView.js.map
/components/*.map
/components/*.js
/components/appDownloader.js
/components/controller.js
/components/list_downloader.js
/components/view.js
/services/download_manager.js
/services/proxy.js
/spec/init_tests.js
/spec/proxy_tests.js
/spec/strings_tests.js
/boot.js
