/app_modules/*.map
/node_modules
/app_modules/strings.js
/app_modules/vkApi.js
/*.map
/app.js
/app_modules/appProxy.js
/app_modules/downloadManager.js
/test/*.map
/test/appInitTests.js
/test/appProxyTests.js

/app/appController.js
/app/appController.js.map
/app/appView.js
/app/appView.js.map
/app/*.map
/app/appDownloader.js
